{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="community row pt-40">
    <div class="com col-sm-6">
        <h1>Angels Community Outreach</h1>
        <p>We are committed to executing a sustainable regional grassroots program that will reach all parts of the country and target young ladies in the (U)12, U16, U18 and U21 age categories.
        </p>
        <button type="button" class="btn btn-warning">Donate</button>
    </div>
    <div class=" com col-sm-6 ">
        <img src="{% static 'images/csr.jpg' %}" alt="">
    </div>
</div>
<div>
    <h1>OUR CURRENT FOOTPRINT </h1>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-10">
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/csr.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MBABARA CAMP</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">January 2018</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/csr.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">GULU CAMP</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">January 2019</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/csr.jpg' %}"class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">WEST NILE CAMP</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">January 2023</small>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h1>FUTURE PLANS </h1>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/csr.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">UNDER 12 DOVES</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">January 2018</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/csr.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">UNDER 16 HOTSHOTS</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">January 2019</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/csr.jpg' %}"class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">UNDER 18 SWANS</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">January 2023</small>
        </div>
      </div>
    </div>
  </div>
{% endblock%}