{% extends 'main.html' %} 
{% load static %} 
{% block content %}


<div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center my-4">2023 Schedule</h2>
        <hr>
        <h2 class="my-4">Regular Season</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="schedule table table-bordered table-hover">
          <thead class="thead-dark">
            <tr class="table-heading">
              <th class="homeaway">HA</th>
              <th>Date</th>
              <th>Opponent</th>
              <th>Location</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-details">
              <td class="home" >Home</td>
              <td>March 1</td>
              <td>KCCA Basketball</td>
              <td>Lugogo Arena, Lugogo</td>
              <td>7:00 PM</td>
            </tr>
            <tr class="table-details">
              <td class="away">Away</td>
              <td>March 3</td>
              <td>JKL Dolphins</td>
              <td>YMCA,Wandegeya</td>
              <td>5:30 PM</td>
            </tr>
            <tr class="table-details"> 
              <td class="home">Home</td>
              <td>March 5</td>
              <td>JT Jaguars</td>
              <td>Lugogo Arena, Lugogo</td>
              <td>6:00 PM</td>
            </tr>
            <tr class="table-details">
              <td class="home" >Home</td>
              <td>March 1</td>
              <td>KCCA Basketball</td>
              <td>Lugogo Arena, Lugogo</td>
              <td>7:00 PM</td>
            </tr>
            <tr class="table-details">
              <td class="away">Away</td>
              <td>March 3</td>
              <td>JKL Dolphins</td>
              <td>YMCA,Wandegeya</td>
              <td>5:30 PM</td>
            </tr>
            <tr class="table-details"> 
              <td class="home">Home</td>
              <td>March 5</td>
              <td>JT Jaguars</td>
              <td>Lugogo Arena, Lugogo</td>
              <td>6:00 PM</td>
            </tr>
            <tr class="table-details">
              <td class="home" >Home</td>
              <td>March 1</td>
              <td>KCCA Basketball</td>
              <td>Lugogo Arena, Lugogo</td>
              <td>7:00 PM</td>
            </tr>
            <tr class="table-details">
              <td class="away">Away</td>
              <td>March 3</td>
              <td>JKL Dolphins</td>
              <td>YMCA,Wandegeya</td>
              <td>5:30 PM</td>
            </tr>
            <tr class="table-details"> 
              <td class="home">Home</td>
              <td>March 5</td>
              <td>JT Jaguars</td>
              <td>Lugogo Arena, Lugogo</td>
              <td>6:00 PM</td>
            </tr>

            
          </tbody>
        </table>
      </div>
    </div>
  </div>
   

  {% endblock%}