<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h4>Contact Us</h4>
          <p>Kampala, Uganda</p>
          <p>Phone: (+256) 786-143-259</p>
          <p>Email: info@angels.com</p>
        </div>
        <div class="col-md-3">
            <h4>Follow Us</h4>
            <a href="https://www.facebook.com/lakers/">Facebook</a><br>
            <a href="https://twitter.com/lakers">Twitter</a><br>
            <a href="https://www.instagram.com/lakers/">Instagram</a><br>
            <a href="https://www.instagram.com/lakers/">TikTok</a><br>
            <a href="https://www.instagram.com/lakers/">Youtube</a>
          </div>
          <div class="col-md-3">
            <h4>Support</h4>
            <a href="https://www.lakers.com/tickets">Tickets</a><br>
            <a href="https://www.lakers.com/shop">Shop</a><br>
            <a href="https://www.lakers.com/community">Community</a>
          </div>
        <div class="col-md-3">
          <h4>Subscribe to our bi-annual newsletter</h4>
          <form>
            <input type="email" placeholder="Enter your email">
            <button type="submit">Subscribe</button>
          </form>
        </div>
        </div>
      </div>
      <div class="copyright">
        Copyright &copy; 2023 Angels Basketball Uganda
      </div>
    </div>
  </footer>